// scss/themes/_theme.scss

// Light Theme
body.light {
  background-color: #fff;
  color: #333;
}

.header.light {
  background-color: #eee;
}

.button.light {
  background-color: #ddd;
  color: #333;
}

// Dark Theme
body.dark {
  background-color: #333;
  color: #fff;
}

.header.dark {
  background-color: #555;
}

.button.dark {
  background-color: #777;
  color: #fff;
}
